<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>首页 </a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="small info icon"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="menu toggle ui black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <!-- 头部信息 -->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://picsum.photos/id/1005/100/100" alt="头像" class="ui avatar image">
                        <div class="content"><a href="#" class="header">YUDI</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i> 2020-9-17
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> 9999+
                    </div>
                </div>
            </div>
            <!--图片-->
            <div class="ui attached segment">
                <img src="https://picsum.photos/id/1005/800/450" alt="示图" class="ui fluid rounded image">
            </div>
            <!--博客内容-->
            <div class="ui attached padded segment">
                <!-- 标识 -->
                <div class="ui right aligned basic segment">
                    <div class="ui basic violet label">原创</div>
                </div>
                <!-- 名称 -->
                <h2 class="ui center aligned header">Java 8 实战</h2>
                <!-- 文本 -->
                <div id="content" class="m-padded-lr-responsive m-padded-tb-large">
                    <p>
                        简单地说，Java 8中的新增功能是自Java 1.0发布18年以来，Java发生的最大变化。没有去掉
                        任何东西，因此你现有的Java代码都能工作，但新功能提供了强大的新语汇和新设计模式，能帮
                        助你编写更清楚、更简洁的代码。就像遇到所有新功能时那样，你一开始可能会想：“为什么又
                        要去改我的语言呢？”但稍加练习之后，你就会发觉自己只用预期的一半时间，就用新功能写出
                        了更短、更清晰的代码，这时你会意识到自己永远无法返回到“旧Java”了。
                        本书会帮助你跨过“原理听起来不错，但还是有点儿新，不太适应”的门槛，从而熟练地进
                        行编程。
                    </p>
                    <p>
                        “也许吧，”你可能会想，“可是Lambda、函数式编程，这些不是那些留着胡子、穿着凉鞋的
                        学究们在象牙塔里面琢磨的东西吗？”或许是的，但Java 8中加入的新想法的分量刚刚好，它们
                        带来的好处也可以被普通的Java程序员所理解。本书会从普通程序员的角度来叙述，偶尔谈谈“这
                        是怎么来的”。
                    </p>
                    <p>
                        “Lambda，听起来跟天书一样！”是的，也许是这样，但它是一个很好的想法，让你可以编
                        写简明的Java程序。许多人都熟悉事件处理器和回调函数，即注册一个对象，它包含会在事件发
                        生时使用的一个方法。Lambda使人更容易在Java中广泛应用这种思想。简单来说，Lambda和它
                        的朋友“方法引用”让你在做其他事情的过程中，可以简明地将代码或方法作为参数传递进去执
                        行。在本书中，你会看到这种思想出现得比预想的还要频繁：从加入作比较的代码来简单地参数
                        化一个排序方法，到利用新的Stream API在一组数据上表达复杂的查询指令。
                    </p>
                    <p>
                        “流（stream）是什么？”这是Java 8的一个新功能。它们的特点和集合（collection）差不
                        多，但有几个明显的优点，让我们可以使用新的编程风格。首先，如果你使用过SQL等数据库
                        查询语言，就会发现用几行代码写出的查询语句要是换成Java要写好长。Java 8的流支持这种简
                        明的数据库查询式编程——但用的是Java语法，而无需了解数据库！其次，流被设计成无需同
                        时将所有的数据调入内存（甚至根本无需计算），这样就可以处理无法装入计算机内存的流数据
                        了。但Java 8可以对流做一些集合所不能的优化操作，例如，它可以将对同一个流的若干操作组
                        合起来，从而只遍历一次数据，而不是花很大代价去多次遍历它。更妙的是，Java可以自动将
                        流操作并行化（集合可不行）。
                    </p>
                    <p>
                        “还有函数式编程，这又是什么？”就像面向对象编程一样，它是另一种编程风格，其核心
                        是把函数作为值，前面在讨论Lambda的时候提到过。
                    </p>
                    <p>
                        Java 8的好处在于，它把函数式编程中一些最好的想法融入到了大家熟悉的Java语法中。有
                        了这个优秀的设计选择，你可以把函数式编程看作Java 8中一个额外的设计模式和语汇，让你可
                        以用更少的时间，编写更清楚、更简洁的代码。想想你的编程兵器库中的利器又多了一样。
                    </p>
                </div>
                <!-- 标签/分类 -->
                <div class="m-padded-lr-responsive">
                    <div class="ui orange tag label">Java 8 特性</div>
                </div>
                <!-- 赞赏 -->
                <div class="ui basic center aligned segment">
                    <button id="rewardBT" class="ui green basic circular button">打赏</button>
                </div>
                <div id="rewardQR" class="ui flowing popup transition hidden">
                    <div class="ui green basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img src="../static/images/avatar.jpg" alt="打赏图片" class="ui rounded bordered image" style="width: 120px">
                                <div>小黄人</div>
                            </div>
                            <div class="image">
                                <img src="../static/images/Moon.jpg" alt="打赏图片" class="ui rounded bordered image" style="width: 120px">
                                <div>皎月女神</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--博客信息-->
            <div class="ui attached positive message">
                <div class="ui middle grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：YUDI（yudi1484@163.com）</li>
                            <li>发表时间：2020-09-18 22:00</li>
                            <li>版权声明：自由转载、非商用、非衍生、保持署名（创意共享 3.0 许可证）</li>
                            <li>公众号转载：请在文末添加作者博客链接地址</li>
                        </ui>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/avatar.jpg" alt="示图" class="ui right floated rounded image" style="width: 120px">
                    </div>
                </div>
            </div>
            </div>
            <!--评论区域-->
            <div class="ui bottom attached segment">
                <div class="ui segment">
                    <div class="ui comments">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/id/1005/100/100">
                            </a>
                            <div class="content">
                                <a class="author">YUDI</a>
                                <div class="metadata">
                                    <span class="date">今天下午 5:42</span>
                                </div>
                                <div class="text">太赞了！ </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/id/1005/100/100">
                            </a>
                            <div class="content">
                                <a class="author">yudi</a>
                                <div class="metadata">
                                    <span class="date">昨天上午 00:30</span>
                                </div>
                                <div class="text">
                                    <p>這對我的研究是非常有用.謝謝!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="https://picsum.photos/id/1005/100/100">
                                    </a>
                                    <div class="content">
                                        <a class="author">YuDi</a>
                                        <div class="metadata">
                                            <span class="date">刚刚</span>
                                        </div>
                                        <div class="text">欧尼酱，斯国一 :) </div>
                                        <div class="actions">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/id/1005/100/100">
                            </a>
                            <div class="content">
                                <a class="author">yUdI</a>
                                <div class="metadata">
                                    <span class="date">5 天以前</span>
                                </div>
                                <div class="text">老兄，这太棒了。非常感谢。 </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="姓名">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/avatar.jpg" class="ui rounded image" alt="头像">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Java8 实战</a>
                        <a href="#" class="item">JVM 内存模型</a>
                        <a href="#" class="item">并发编程之 Re-entrantLock</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item"><i class="envelope icon"></i> Email：yudi1484@163.com</a>
                        <a href="#" class="item"><i class="github icon"></i>Github：https://github.com/yudi-corgi</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">关于系统</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是一个简易的博客系统，可以针对文章、分类、标签、评论等模块内容进行管理，采用的是 SpringBoot + Spring Data JPA + Semantic UI 技术架构。</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 YUDI Development By YUDI</p>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript">
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#rewardBT').popup({
        popup: $('#rewardQR.popup'),
        on: 'click',
        position: 'bottom center'
    });
</script>
</body>
</html>